[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://gitcode.com/zaq15csdn/llvm-project.git
	branch = to_buffer
[submodule "third-party/torch-mlir"]
	path = third-party/torch-mlir
	url = https://gitcode.com/Ascend/torch-mlir.git
	branch = Ascend/AscendNPU-IR/main-20250716
[submodule "third-party/shmem"]
	path = third-party/shmem
	url = https://gitcode.com/cann/shmem.git
